[run]
branch = True
# exclude files
omit =
    # exclude everything from ui_asset as they ara either resources or code dynamically generated
    */ui_asset/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplemented.*
    raise .*Exception.*
    raise .*Error.*

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage_html_report
