Session.vim
MANIFEST
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
docs/_build*
docs/_themes
IPython/frontend/html/notebook/static/mathjax
*.py[co]
build
_build
.build
*.egg-info
*~
*.bak
*.swp
*.swo
.commitmsg
*.aux
*.toc
*.log
*.bbl
