tmp/*
temp/*
Session.vim
build
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
docs/_build*
docs/_themes
IPython/frontend/html/notebook/static/mathjax
*.py[co]
build
_build
.build
*.egg-info
*~
*.bak
*.swp
*.swo
.commitmsg
*.aux
*.toc
*.log
*.bbl

*~
*.py[cod]
*.pyc
*.pyo

__pycache__
dist
sdist
*.so
pip-log.txt
.DS_Store
*.egg
*.egg-info

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# PyCharm / IntelliJ
*.iml
.idea
*.ipr

# Eclipse
.project
.pydevproject

# local private
_Private
_private
private
localsandpit
localdir
tmp
temp
nohup*
*.mine
OldWorks


logs
*.log

 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version

# jupyther notebooks
.ipynb_checkpoints
#*.png

# image testing files
tests/result_images/
tests/baseline_images/**/test_GA_UA_edited*
tests/baseline_images/**/test_3D_MT_data_edited*
tests/baseline_images/**/test_GA_UA_edited*
tests/baseline_images/**/test_3D_MT_data_edited*
mtpy/gui/SmartMT/ui_asset/*.py
!mtpy/gui/SmartMT/ui_asset/__init__.py
!mtpy/gui/SmartMT/ui_asset/icons_*_rc.py
coverage_html_report
builds/
